<%= turbo_frame_tag 'rooms_controller' do %>
  <main class="flex w-full h-screen  bg-[#181D31]">
    <%= render 'shared/side_bar' %>
 
      <div class="flex flex-col items-center justify-center h-screen w-full gap-5">
        <%= image_tag('Image.png', width: 200) %>
          <h1 class="mt-2 text-center text-2xl leading-9 font-extrabold text-indigo-600"> Chat App - Ruby On Rails </h1>
        </div>
 
  </main> 
<%end%>  
